<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Users</h1>
    <% for (var i in teammembers) {%>
        <p>Name: <%=teammembers[i].name%>, ID: <%=teammembers[i].id%><p>
    <% } %>
</body>